*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1140px;
	margin: 0px auto;
	font-family: 'Poppins', sans-serif;
}
.box{
	background-color: #76e2e9;
	margin: 0px auto;
	height: 100vh;
	padding: 10px 0;
}
.nav{
	display: flex;
	width: 70%;
	justify-content: center;
	margin: 0px auto;
	padding: 40px 40px 0px 40px;
	border-radius: 10px;
}
.information{
	flex-basis: 50%;
	background: #3686bd;
	border-radius: 5px 0px 0px 5px;
	padding: 40px 30px 80px 30px;
	color: white;
}
.information h2{
	margin-bottom: 30px;
	text-transform: uppercase;
}
.information button{
	width: 240px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	border: none;
	font-weight: 700;
	margin-top: 60px;
}
.information button:hover{
	background-color: transparent;
	color: white;
}
.form{
	flex-basis: 50%;
	background: white;
	border-radius: 0px 5px 5px 0px;
	padding: 40px 5px;
}
.form h2{
	margin-bottom: 30px;
	text-transform: uppercase;
}
.line1{
	margin-bottom: 20px;
}
.line2{
	margin-bottom: 20px;
}
.fname input{
	width: 100%;
	padding: 10px;
}
.fname{
	display: inline-block;
}
.fname label{
	display: block;
}
.lname{
	display: inline-block;
}
.lname input{
	width: 100%;
	padding: 10px;
}
.lname label{
	display: block;
}
.line2 label{
	display: block;
}
.pass label{
	display: block;
}
.cpass label{
	display: block;
}
.lname input{
	display: inline;
}
.line2 input{
	width: 88%;
	padding: 10px;
}
.line3 input{
	display: block;
	width: 100%;
	padding: 10px;
}
.pass{
	display: inline-block;
}
.cpass{
	display: inline-block;
}
.chkbox{
	margin-left: 5px;
	margin-top: 20px;
}
.sbtn{
	width: 120px;
	height: 50px;
	background-color: #3686bd;
	border-radius: 5px;
	border: none;
	font-weight: 700;
	margin-top: 60px;
	color: white;
}
.sbtn:hover{
	background-color: transparent;
	color: black;
}